APP_PORT=3000
VAPID_PUBLIC_KEY=your_public_key_here
VAPID_PRIVATE_KEY=your_private_key_here

TURN_PUBLIC_HOST=icq2.inetcompany.de
TURN_REALM=icq2.inetcompany.de
TURN_EXTERNAL_IP=142.132.135.225
TURN_USERNAME=your_turn_username
TURN_CREDENTIAL=your_turn_password
